{% extends 'base.html.twig' %}

{% block title %} Accueil - Mon diabète Facile {% endblock %}

{% block body %}

<h1>
    Mon diabète facile, le site qui me permet de faire gérer mes glycémies au quotidien
</h1>

<h2>
    C'est simple, rapide et gratuit
</h2>
<p>
    <ul>
        <li>Je crée un compte</li>
        <li>Je renseigne ma glycmié cible (définie par mon médecin)</li>
        <li>J'entre mes glycémies quotidiennement</li>
        <li>Je suis alertée si le taux est trop haut ou trop bas</li>
        <li>Je conserve tout l'histotique de mes glycémies</li>
        <li>Bonus: je peux les envoyer par mail à mon medecin</li>
    </ul>
</p>
{% endblock %}